body{
  font-family: 'Roboto Condensed', sans-serif;
}
.nav-container{
  position: relative;
}
.nav-bg {
  height: 50px;
  background-color: #2ebafa;
  line-height: 43px;
}
.direction {
  background-color: #e9ecef;
  color: #13b2f9;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inherit;
  text-align: center;
  position: relative;
  margin-left: 20px;
  cursor: pointer;
}
.direction .fa-chevron-down {
  margin-top: 5px;
  position: absolute;
  left: 5px;
}
.logo {
  margin-top: 5px;
}
.cart-box{
  position: relative;
}
.cart-item{
  position: absolute;
  left: 4px;
  top:-12px;
  background-color: #065679;
  width: 14px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
}
.logo > img {
  width: 38px;
  height: 38px;
  border: 1px solid #fff;
  border-radius: 50%;
}
.shape {
  width: 0;
  height: 0;
  border-left: 171px solid #67a7f1;
  border-bottom: 170px solid transparent;
  border-top: 30px solid #67a7f1;
  display: none;
}
.shape_circle {
  width: 100px;
  height: 100px;
  border: 3px solid #6174ff;
  border-radius: 50%;
  position: absolute;
  left: 48px;
  top: 6px;
  background-color: #fff;
}

/* Hero part style */
.hero-asid{
  width: 350px;
  height: auto;
}
.hero-asid{
  width: 400px;
  height: 1400px;
  background-size: cover;
  background-image: url('/assets/blue\ line@1X.png');
  background-position: center center;
  z-index: -999;
}
.title-text{
  color:#13b2f9;
  font-weight: 700;
}

.titl-sub{
  color: #95c748;
}
.hero-bottom img{
  width: 1200px;
  height: 1032px;
  margin-left: -365px;
  z-index: 999;
}
.image-1 img{
  margin: 0 auto;
  margin-top: 470px;
  
}

.footer-top img{
  width: 100%;
  height: 500px;
}
/* .hero-asid img{
  width: 400px;
  height: 1200px;
} */

/* Hero part style */

.shadow{
  width: 100%;
  height: 50px;
  background-color:rgba(0, 0, 0, 0.178);
}

.study-section .custom-margin{
  margin: 50px 0 150px 0;
}
.study-section .study-title{
  font-weight: 700;
  font-size: 70px;
  color:#13b2f9;
  line-height: 55px;
}
.study-section .study-1{
  width: 100%;
  height: 65px;
  background-color:rgba(0, 0, 0, 0.061);
}
.study-section .lorem{
 margin-top: -66px;
}
.study-section small{
  color: #13b2f9;
}
.study-section .book-img1 img{
  margin-top: -120px;
}

.footer-top-bg{
  background-color: #e4eef9;
}
.footer-top .flex-box{
  display: flex;
  justify-content: space-around;
}
.footer-logo img{
  width: 100%;
  max-width: 200px;
  height: auto;
}
.footer-top ul li a{
  text-decoration: none;
  color: #666666;
}
.footer-copyright{
  background-color: #e4eef9;
  padding: 20px;
  margin-top: -16px;
}
.credit-card img{
  width: 100%;
  height: 32px;
}
.footer-bottom hr{
  background-color: #13b2f9;
  height: .5px;
}

.footer-bg{
  background-color: #13b2f9;
}


@media screen and (max-width: 500px) {
  .hero-section{
    margin-top: 200px;
  }
  .topNab,
  .logo {
    display: none;
  }
  .right-logo {
    margin-left: 225px;
  }

  .nav-bg {
    height: 60px !important;
    background-color: #2ebafa;
    line-height: 60px;
  }
  .footer-top .flex-box{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .study-section .book-img1 img {
    margin-top: 120px;
    width: 100%;
    min-width: 171px;
}
  .shape{
    display: inline-block;
  }
  .hero-bottom img{
    max-width: 340px;
    height: 340px;
    margin-left: 0;
    margin-bottom: -58px;
  }
}
